*.h5ad
__pycache__/
*.pyc
*.pyo
*.db
analysis_results
figures
*.log
figures
results/
ref
latex_tables
.venv
baseline_submissions
*.jsonl
google-cloud-sdk
*.csv
cache
*.tex
single_cell_package_impact_figures2
*.pem
.env
aws-deploy-config.txt
latex_tables_v1v2_combined
scripts/analysis_output
runs
scripts/analysis_outputs/*.csv
figuresv1
analysis_resultsv1
analysis_output
analysis_results_v2_only
figures_v1v2_combined
analysis_results_v1_only
analysis_results_v1v2_combined
analysis_outputs/*.csv
google-application-credentials.json
site
.vercel
.DS_Store
google-application-credentials.json
failed_runs
aide_journals
figuresv2
analysis_resultsv2
*.log.*
